{% load static %}


<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brain Boost</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .banner{
            background-image: url("{% static 'images/banner.jpeg' %}");
        }
    </style>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        clifford: '#da373d',
                        'arch-primary': '#062573',
                    },
                },
            },
        }
    </script>
</head>

<body class="md:container mb-12 text-[#062573]">
    <!-- header section -->
    <header class="container mb-12">
        <nav>
            <div class="navbar bg-base-100">
                <div class="navbar-start">
                    <div class="dropdown">
                        <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M4 6h16M4 12h8m-8 6h16" />
                            </svg>
                        </div>
                        <ul tabindex="0"
                            class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow text-xl">
                            <li><a>Home</a></li>
                            <li><a>Courses</a></li>
                            <li><a>About Us</a></li>
                            <li><a href="{% url 'contact'%}">Contact us</a></li>
                            {% if user.is_authenticated %}
                        <li><a href="{% url 'logout' %}">Logout</a></li> <!-- Assuming 'logout' URL is defined -->
                    {% else %}
                        <li><a href="{% url 'login' %}">Login</a></li> <!-- Show login if not logged in -->
                    {% endif %}
                        </ul>
                    </div>
                    <a href="{% url 'index' %}" class="btn btn-ghost text-3xl font-bold">Brain Boost</a>
                </div>
                <div class="navbar-end hidden lg:flex">
                    <ul class="menu menu-horizontal px-1 text-lg">
                        <li><a href="{% url 'index'%}">Home</a></li>
                        <li><a href="courses.html">Courses</a></li>
                        <li><a href="{% url 'parentslogin' %}">Parents Portals</a></li>
                        <li><a href="{% url 'aboutus' %}">About Us</a></li>
                        <li><a href="{% url 'contact' %}">Contact us</a></li>
                        {% if user.is_authenticated %}
                        <li><a href="{% url 'logout' %}">Logout</a></li> <!-- Assuming 'logout' URL is defined -->
                    {% else %}
                        <li><a href="{% url 'login' %}">Login</a></li> <!-- Show login if not logged in -->
                    {% endif %}
                    </ul>
                </div>
                <!-- <div class="navbar-end">
                  <a class="btn">Log in</a>
                </div> -->
            </div>
        </nav>
        <!-- banner section -->
        <div class="bg-cover bg-center font banner">
            {% if user.is_authenticated %}
                <p style="float: right; margin-top: 20px; margin-right: 30px;"><b>Hello {{user.username}}!</b></p>
            {% else %}
                
            {% endif %}
            <h1 class="text-8xl py-60 font-bold">
                Be the next coder <br> with us
            </h1>
        </div>
    </header>
    <!-- main section -->
    <main>
        <!-- coureses -->
        <h2 class="text-4xl text-center font-bold">Courses</h2>
        <section class="grid grid-cols-1 md:grid-cols-3 py-32 ">
            <!-- web dev -->
            <div class="card bg-base-100 w-96 shadow-xl mb-12">
                <figure>
                    <img src="{% static 'images/web-dev.jpeg' %}" alt="web dev" />
                </figure>
                <div class="card-body">
                    <h2 class="card-title font-bold">Web Development{{course.title}}</h2>

                    {% if user.is_authenticated %}
                            <a href="{% url 'payment' %}"> <!-- Redirect to payment page if authenticated -->
                                <button class="btn btn-primary bg-[#062573]">Enroll Now</button>
                            </a>
                        {% else %}
                            <a href="{% url 'login' %}"> <!-- Redirect to login page if not authenticated -->
                            <button class="btn btn-primary bg-[#062573]">Enroll Now</button>
                            </a>
                        {% endif %}
                </div>
            </div>
            <!-- app dev -->
            <div class="card bg-base-100 w-96 shadow-xl mb-12">
                <figure>
                    <img src="{% static 'images/app-dev.jpeg' %}" alt="app dev" />
                </figure>
                <div class="card-body">
                    <h2 class="card-title font-bold">App Development</h2>

                    <div class="card-actions justify-end">
                        {% if user.is_authenticated %}
                            <a href="{% url 'payment' %}"> <!-- Redirect to payment page if authenticated -->
                                <button class="btn btn-primary bg-[#062573]">Enroll Now</button>
                            </a>
                        {% else %}
                            <a href="{% url 'login' %}"> <!-- Redirect to login page if not authenticated -->
                            <button class="btn btn-primary bg-[#062573]">Enroll Now</button>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- python -->
            <div class="card bg-base-100 w-96 shadow-xl mb-12">
                <figure>
                    <img src="{% static 'images/python.jpeg' %}" alt="python" />
                </figure>
                <div class="card-body">
                    <h2 class="card-title font-bold">Python</h2>

                    {% if user.is_authenticated %}
                            <a href="{% url 'payment' %}"> <!-- Redirect to payment page if authenticated -->
                                <button class="btn btn-primary bg-[#062573]">Enroll Now</button>
                            </a>
                        {% else %}
                            <a href="{% url 'login' %}"> <!-- Redirect to login page if not authenticated -->
                            <button class="btn btn-primary bg-[#062573]">Enroll Now</button>
                            </a>
                        {% endif %}
                </div>
            </div>
            <!-- game -->
            <div class="card bg-base-100 w-96 shadow-xl mb-12">
                <figure>
                    <img src="{% static 'images/game-dev.jpeg' %}" alt="game dev" />
                </figure>
                <div class="card-body">
                    <h2 class="card-title font-bold">Game Development</h2>

                    {% if user.is_authenticated %}
                            <a href="{% url 'payment' %}"> <!-- Redirect to payment page if authenticated -->
                                <button class="btn btn-primary bg-[#062573]">Enroll Now</button>
                            </a>
                        {% else %}
                            <a href="{% url 'login' %}"> <!-- Redirect to login page if not authenticated -->
                            <button class="btn btn-primary bg-[#062573]">Enroll Now</button>
                            </a>
                        {% endif %}
                </div>
            </div>

        </section>

        <!-- mentors section -->
        <h2 class="text-4xl text-center mb-12 font-bold">Our mentors</h2>
        <section class="grid grid-cols-1 md:grid-cols-3 bg-[#062573] mb-12 p-16">
            <div class="card bg-base-100 w-96 shadow-xl">

                <figure>
                    <img src="{% static 'images/person-1.jpeg' %}" alt="person-1" />
                </figure>
                <div class="card-body">
                    <a href="payment.html">
                    <h2 class="card-title font-bold">Web Development</h2>
                    </a>
                </div>
            </div>

            <div class="card bg-base-100 w-96 shadow-xl">

                <figure>
                    <img src="{% static 'images/person-2.jpeg' %}" alt="person-1" />
                </figure>
                <div class="card-body">
                    <h2 class="card-title font-bold">Python</h2>
                </div>
            </div>

            <div class="card bg-base-100 w-96 shadow-xl">

                <figure>
                    <img src="{% static 'images/person-3.jpeg' %}" alt="person-1" />
                </figure>
                <div class="card-body">
                    <a href="payment.html">
                    <h2 class="card-title font-bold">Game Development</h2>
                    </a>
                </div>
            </div>
        </section>
        <h2 class="text-4xl text-center font-bold mb-12">FAQ</h2>

        <!-- faq section -->
        <section class="mb-12 p-16">
            <div class="join join-vertical w-full">
                <div class="collapse collapse-arrow join-item border-base-300 border">
                    <input type="radio" name="my-accordion-4" checked="checked" />
                    <div class="collapse-title text-xl font-medium bg-[#D9D9D9]">Click to open this one and close others</div>
                    <div class="collapse-content bg-[#F2F2F2]">
                        <p>hello</p>
                    </div>
                </div>
                <div class="collapse collapse-arrow join-item border-base-300 border">
                    <input type="radio" name="my-accordion-4" />
                    <div class="collapse-title text-xl font-medium bg-[#D9D9D9]">Click to open this one and close others</div>
                    <div class="collapse-content bg-[#F2F2F2]">
                        <p>hello</p>
                    </div>
                </div>
                <div class="collapse collapse-arrow join-item border-base-300 border">
                    <input type="radio" name="my-accordion-4" />
                    <div class="collapse-title text-xl font-medium bg-[#D9D9D9]">Click to open this one and close others</div>
                    <div class="collapse-content bg-[#F2F2F2]">
                        <p>hello</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- footer section -->
         <div class="footer bg-[#062573] text-neutral-content p-10">
            <nav>
                <h6 class="footer-title">Follow Us On Social Media</h6>
                <a class="link link-hover" href="https://www.facebook.com/awinulhoque.utsha/">Facebook</a>
                <a class="link link-hover">Twitter</a>
                <a class="link link-hover">Youtube</a>
                <a class="link link-hover" href="https://www.linkedin.com/in/md-awinul-hoque-utsha-1637641ab/">Linked in</a>
            </nav>
            <nav>
                <h6 class="footer-title">Navigate to</h6>
                <a class="link link-hover" href="index.html">Home</a>
                <a class="link link-hover" href="">About Us</a>
                <a class="link link-hover">Contact us</a>
                <a class="link link-hover" href="signin.html">Log in</a>
    
            </nav>
            <nav>
                <h6 class="footer-title">Follow Us On Social Media</h6>
                <a class="link link-hover" href="https://www.facebook.com/awinulhoque.utsha/">Facebook</a>
                <a class="link link-hover">Twitter</a>
                <a class="link link-hover">Youtube</a>
                <a class="link link-hover" href="https://www.linkedin.com/in/md-awinul-hoque-utsha-1637641ab/">Linked in</a>
            </nav>
         </div>

    </main>


    <!-- footer section -->
    <footer class="footer footer-center bg-[#062573] text-neutral-content p-10">
        <aside>
            <p class="mb-8">CodeKid Bangladesh leads in teaching coding to children with an engaging, interactive platform. Our expert instructors make learning fun through creative projects and problem-solving, building essential tech skills and confidence. We're dedicated to unlocking every child’s potential and fostering a passion for technology. Shape the future with us!</p>
          <p>All rights are reserved @2024</p>
        </aside>
      </footer>

</html>