<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brain Boost Dashboard</title>
    <link rel="stylesheet" href="profile.css">
</head>
<body>
    <header>
        <div class="logo">
            <h2>Brain Boost</h2>
        </div>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="courses.html">Courses</a></li>
                <li><a href="parentssignin.html">Parents Portal</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="signin.html">Log in</a></li>
            </ul>
        </nav>
    </header>

    <section class="profile">
        <img src="person-2.jpeg" alt="Profile Picture" class="profile-picture">
        <div class="profile-details">
            <h1>Awinul Hoque</h1>
            <p>Student Unique Id : 21232</p>
        </div>
    </section>

    <section class="courses">
        <h2>Enrolled Courses</h2>
        <div class="course-list">
            <div class="course-card">
                <img src="web-dev.jpeg" alt="Web Development">
                <h3>Web Development</h3>
                <button class="btn-continue">Continue</button>
            </div>
            <div class="course-card">
                <img src="game-dev.jpeg" alt="Game Development">
                <h3>Game Development</h3>
                <button class="btn-completed">Completed</button>
            </div>
            <div class="course-card">
                <img src="app-dev.jpeg" alt="APP Development">
                <h3>Game Development</h3>
                <button class="btn-completed">Completed</button>
            </div>
        </div>
    </section>
</body>
</html>
