* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    border-bottom: 2px solid #E0E0E0;
}

.logo h2 {
    font-size: 24px;
    color: #0A3871;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #0A3871;
    font-weight: bold;
}

.container {
    display: flex;
    margin-top: 20px;
}

.sidebar {
    width: 25%;
    background-color: #0A3871;
    padding: 20px;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin-bottom: 15px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.content {
    width: 75%;
    padding: 20px;
}

.content h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.task {
    background-color: #F3F3F3;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}



.buttons {
    display: flex;
    gap: 10px;
}

button {
    background-color: #0A3871;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #062a59;
}
